.yearBooksContainer {
    display: flex;
    flex-direction: column;
    align-items: flex-start; /* Left-align items */
    margin: 0 auto; /* Center the container */
    width: fit-content; /* Adjust width based on content */
  }
  
  .yearBooksContainer p {
    margin: 0 0 10px 0;
  }

.selectedYearHeading {
    align-self: center;
}

  .yearBooksButton {
    width: auto;
    height:2.5rem;
    border-radius: 5px;
    border: none;
    /* border-color: white; */
    background-color: orange;
    color:white;
  }

  .yearBooksButton:hover {

    border: 1px solid orange;
    background-color: white;
    color:orange;
    cursor: pointer
  }

  .bookYearsNamesContainer{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
  }
  .yearListContainer {
    display: flex;
    flex-wrap: wrap;

  }

  .yearBooksContainer p.yearName {
    margin: 0px 0px 5px 4px;
  }

.yearName:hover {
  color: grey;
  font-weight: 500;
  cursor: pointer;
}